.list-item {
	background: #ffffff;
	padding: 40px 40px 72px 40px;
	margin: 36px 0;
	border-radius: 16px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	font-family: 'Open Sans', sans-serif;
}

.list-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.list-item__details .avatar {
	margin-right: 32px;
}

.list-item__details .avatar img {
	width: 128px;
	height: 144px;
}

.list-items-statistic p {
	margin: 16px 0;
}
.list-items-statistic p svg {
	margin-right: 16px;
}
