body {
	font-size: 16px;
	font-weight: 400;
}

h4 {
	font-family: 'DM Serif Display';
	font-size: 22px;
	line-height: 25px;
}

.text-bold {
	font-weight: 600;
}

.info-text {
	color: #a5adbb;
}

.additional-text {
	color: #6e798c;
}

.heading-text {
	color: #081f32;
}

.mt-2 {
	margin-top: 2px;
}

.mt-6 {
	margin-top: 6px;
}

.mt-8 {
	margin-top: 8px;
}
